// Color-variables
$main-color-background: rgb(13, 19, 33);
$main-color-font: rgb(221, 221, 221);
$footer-color:  rgb(245, 181, 83); // rgb(66, 63, 62);;
$hover-color-main: rgb(245, 181, 83);
$hover-color: rgb(52, 138, 167);